.drag-input{
  border:1px solid #eee;
  position:relative;
  -webkit-user-select:none;
  user-select:none;
  border-radius:3px;
  overflow: hidden;
  font-size:16px;
  display: flex;
  color:#ddd;
  font-family:inherit;
}
.drag-input-item{
  width:100%;
  position: relative;
  display:flex;
  align-items:center;
  overflow:hidden;
  padding:0 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  transition:.2s;
  font-size:80%;
  opacity:.6;
  
}
.drag-input-item.active{
  font-size:100%;
  color:#222;
  opacity:1;
  transition:.2s;
}
.drag-input-list{
  position: absolute;
  width:100%;
}
